name: Dockle
on:
  push:
  pull_request:
  schedule:
    - cron: '0 20 * * *'

jobs:
  docle:
    name: dockle
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - name: Build an image from Dockerfile
        run: |
          docker build -t ghcr.io/k-hal/secretscan-sandbox:${{ github.sha }} .
      - uses: hands-lab/dockle-action@v1
        with:
          image: 'ghcr.io/k-hal/secretscan-sandbox:${{ github.sha }}'
          exit-code: '1'
          exit-level: WARN
