name: Hadolint
on:
  push:
  pull_request:
  schedule:
    - cron: '0 20 * * *'

jobs:
  scan:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - uses: hadolint/hadolint-action@v3.3.0
        name: Lint hadolint
        with:
          dockerfile: Dockerfile
          format: 'sarif'
          output-file: 'hadolint-results.sarif'
      - name: Upload hadlint scan results to GitHub Security tab
        if: ${{ always() }}
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: 'hadolint-results.sarif'
          category: 'hadolint'
