name: Secretlint
on: [push, pull_request]
env:
  CI: true
jobs:
  secretlint:
    name: "Secretlint"
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - name: lint with secretlint on docker
        run: |
           docker run -v "$(pwd)":"$(pwd)" \
             -w "$(pwd)" \
             --rm \
             secretlint/secretlint:latest secretlint \
             --secretlintrc .secretlintrc.json "**/*" \
             --format @secretlint/secretlint-formatter-sarif \
             --output results.sarif \
             "**/*"
      - name: upload sarif file
        if: ${{ always() }}
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: 'results.sarif'
          category: 'secretlint'